@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@font-face {
  font-family: Perfograma;
  src: url("/fonts/perfograma.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Komoda;
  src: url("/fonts/komoda.otf") format("opentype");
  font-weight: normal;
}

:root {
  --umber: #8f6246;
  --beaver: #ad8770;
  --black: #1a1919;
  --white: #fcfcfc;
  --padding: 8rem;
  --letter-spacing: -0.025em;
}

* {
  -webkit-font-smoothing: antialiased;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  font-size: 62.5%;
  letter-spacing: var(--letter-spacing);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: var(--beaver);
  color: var(--white);
}

::-moz-selection {
  background-color: var(--beaver);
  color: var(--white);
}

header {
  padding: 4rem var(--padding);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-family: Komoda, sans-serif;
  font-size: 5rem;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
  transition: color 200ms ease;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 35%;
}

.nav-links a {
  font-family: Poppins, sans-serif;
  font-size: 2.3rem;
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
  text-decoration: none;
  color: var(--black);
  transition: color 200ms ease;
}

.nav-links a:hover {
  color: var(--umber);
}

.navbar-brand:hover {
  color: var(--umber);
  text-shadow: -0.5px -0.5px 0 var(--umber), 0.5px -0.5px 0 var(--umber),
    -0.5px 0.5px 0 var(--umber), 0.5px 0.5px 0 var(--umber);
}

section {
  padding: 0 var(--padding);
}

.title {
  font-size: 5rem;
  font-weight: 700;
  margin: 2rem 0;
}

.shop-card-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem 0;
}

.shop-card {
  display: flex;
  padding: 2.5rem;
  gap: 0 5rem;
  border-radius: 10px;
  background-color: var(--umber);
  justify-content: space-between;
}

.card-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card-image {
  width: 40rem;
  flex-shrink: 0;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title-flex {
  display: flex;
  justify-content: space-between;
}

.card-title,
.price {
  font-size: 4rem;
  font-weight: 500;
  color: var(--white);
  margin: 0;
}

.price {
  text-align: right;
}

.desc {
  font-size: 2rem;
  color: var(--white);
}

.button-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.button {
  padding: 1rem;
  width: 16rem;
  text-align: center;
  color: var(--umber);
  font-size: 2rem;
  font-weight: 600;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
}
