@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@font-face {
  font-family: Perfograma;
  src: url("/fonts/perfograma.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Komoda;
  src: url("/fonts/komoda.otf") format("opentype");
  font-weight: normal;
}

:root {
  --umber: #8f6246;
  --beaver: #ad8770;
  --black: #1a1919;
  --white: #fcfcfc;
  --padding: 8rem;
  --letter-spacing: -0.025em;
}

* {
  -webkit-font-smoothing: antialiased;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: var(--beaver);
  color: var(--white);
}

::-moz-selection {
  background-color: var(--beaver);
  color: var(--white);
}

header {
  padding: 4rem var(--padding);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-family: Komoda, sans-serif;
  font-size: 5rem;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
  transition: color 200ms ease;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 35%;
}

.nav-links a {
  font-family: Poppins, sans-serif;
  font-size: 2.3rem;
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
  text-decoration: none;
  color: var(--black);
  transition: color 200ms ease;
}

.nav-links a:hover {
  color: var(--umber);
}

.navbar-brand:hover {
  color: var(--umber);
  text-shadow: -0.5px -0.5px 0 var(--umber), 0.5px -0.5px 0 var(--umber),
    -0.5px 0.5px 0 var(--umber), 0.5px 0.5px 0 var(--umber);
}

.hero {
  position: relative;
  background-image: url("/public/preface-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.preface-text {
  position: absolute;
  top: 50%;
  left: var(--padding);
  transform: translateY(-50%);
  width: 42%;
}

.title {
  font-family: Perfograma;
  color: var(--umber);
  font-size: 5rem;
  letter-spacing: var(--letter-spacing);
}

.desc {
  font-size: 2rem;
  margin: 0;
  text-align: justify;
  letter-spacing: var(--letter-spacing);
}

section {
  position: relative;
  padding: 3rem var(--padding);
  min-height: 100vh;
  box-sizing: border-box;
  background-image: url("/public/preface-bg-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text {
  padding: 2rem;
  background-color: rgba(252, 252, 252, 0.5);
  width: 42%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  top: 3rem;
  bottom: 3rem;
  right: var(--padding);
}
